.App-header {
  background-color: #090909;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.about-tile {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em; /* Adjust as needed */
  color: #ffffff;
  animation: slideIn 1s forwards;  
  margin-top: 50px;
  text-align: center;
  background: radial-gradient(circle, rgb(255, 47, 0) 0%, rgb(255, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.7), 
               0 0 5px rgba(255, 0, 0, 0.5), 
               0 0 15px rgba(0, 0, 0, 0.3);
}

.about-me {
  font-family: 'Arial', sans-serif;
  font-size: 1.2em; /* Adjust as needed */
  color: #121111;
  animation: slideIn 1s forwards; 
  margin: 20px auto;
  max-width: 800px;
  line-height: 1.5;
  text-align: center;
  padding: 0 20px;
}



.custom-name {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em; /* Adjust as needed */
  background: rgb(172,245,255);
  background: radial-gradient(circle, rgba(172,245,255,1) 0%, rgba(95,52,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(165, 151, 213, 0.7), 
               0 0 10px rgba(255, 253, 253, 0.5), 
               0 0 15px rgba(10, 30, 250, 0.3);
  padding: 10px 20px;
  margin-top: 20px;
  animation: slideIn 1s forwards;
}

.custom-text {
  font-family: 'Arial', sans-serif;
  font-size: .75em; /* Adjust as needed */
  background: rgb(172,245,255);
  background: radial-gradient(circle, rgba(172,245,255,1) 0%, rgb(52, 255, 140) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(165, 151, 213, 0.7), 
               0 0 10px rgba(255, 253, 253, 0.5), 
               0 0 15px rgba(10, 30, 250, 0.3);
  padding: 10px 20px;
  margin-top: 20px; 
  animation: slideIn 1s forwards;
}

.button-container {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  animation: slideIn 1s forwards;

}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

button {
  font-family: 'Arial', sans-serif;
  font-size: 1em; /* Adjust as needed */
  background: radial-gradient(circle, rgb(8, 8, 8) 0%, rgb(10, 10, 10) 100%);
  color: rgb(255, 252, 252);
  border: white;
  border-style: solid;
  padding: 20px 50px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(165, 151, 213, 0.7), 
               0 0 10px rgba(255, 253, 253, 0.5), 
               0 0 15px rgba(255, 255, 255, 0.3);
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: radial-gradient(circle, rgb(255, 1, 1) 0%, rgb(255, 0, 0) 100%);
  color: #fffafa;
  border: black;
  border-style: solid;
  transform: scale(1.1);
}
