@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background-color: #090909;
  height: 100%;
}
.App-header {
  background-color: #090909;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}


.about-me {
  font-family: 'Fira Code', monospace;
  font-size: 1.15em; /* Adjust as needed */
  color: #ffffff;
  animation: slideIn 1s forwards; 

  -webkit-background-clip: text;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(72, 0, 255, 0.7), 
               0 0 5px rgba(6, 0, 0, 0.5), 
               0 0 15px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  line-height: 1.5;
  text-align: left;
  padding: 0 20px;
}

.about-tile {
  font-family: 'Fira Code', monospace;
  font-size: 3.5em; /* Adjust as needed */
  color: #ffffff;
  animation: slideIn 1s forwards;  
  margin-top: 20px;
  margin: 10px ;
  text-align: left;
  background: radial-gradient(circle, rgb(255, 47, 0) 0%, rgb(255, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(230, 1, 1, 0.7), 
               0 0 5px rgba(255, 0, 0, 0.5), 
               0 0 15px rgba(0, 0, 0, 0.3);
               
}
.about-text{
  height:850px;
  width: fit-content;
}
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1da7fd;
  color: rgb(255, 255, 255);
  min-height: 100vh;
  max-height: fit-content;
}

.resume-tile {
  font-family: 'Fira Code', monospace;
  font-size: 3.5em;
  color: #ffffff;
  animation: slideIn 1s forwards;
  margin-top: 0.5px;
  text-align: center;
  background: radial-gradient(circle, rgb(13, 255, 0) 0%, rgb(0, 255, 21) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(0, 255, 30, 0.7),
               0 0 5px rgba(0, 255, 4, 0.5),
               0 0 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.resume-section-title{
  font-size: 2.5em;
  color:  rgb(255, 0, 51);
  text-shadow: 0 0 5px rgba(2, 2, 2, 0.7),
  0 0 5px rgba(0, 0, 0, 0.5),
  0 0 15px rgba(0, 0, 0, 0.3);
}
.resume-content {
  font-family: 'Fira Code', monospace;
  font-size: 1em;
  color: #ffffff;
  animation: slideIn 1s forwards;
  text-align: left;
  padding: 20px;
  width: 80%;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: rgba(0, 10, 8, 0.5);
  margin-top: 20px;
}
.resume-subtitle{
  color:rgb(123, 255, 0) ;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7),
  0 0 5px rgba(0, 0, 0, 0.5),
  0 0 15px rgba(0, 0, 0, 0.3);
}
.resume-text {
  color:rgb(255, 255, 255) ;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
  0 0 5px rgba(255, 255, 255, 0.5),
  0 0 15px rgba(255, 255, 255, 0.3);
  line-height: 1.5;
}

.custom-name {
  font-family: 'Fira Code', monospace;
  font-size: 3.5em; /* Adjust as needed */
  background: rgb(172,245,255);
  background: radial-gradient(circle, rgba(172,245,255,1) 0%, rgba(95,52,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 
               0 0 10px rgba(255, 253, 253, 0.5), 
               0 0 15px rgba(10, 30, 250, 0.3);
  padding: 10px 20px;
  margin-top: 20px;
  animation: slideIn 2s forwards;
}

.custom-text {
  font-family: 'Fira Code', monospace;
  font-size: 1em; /* Adjust as needed */
  background: rgb(172,245,255);
  background: radial-gradient(circle, rgba(172,245,255,1) 0%, rgb(52, 255, 140) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(60, 0, 255, 0.7), 
               0 0 10px rgba(255, 253, 253, 0.5), 
               0 0 15px rgba(10, 30, 250, 0.3);
  padding: 10px 20px;
  margin-top: 20px; 
  animation: slideIn 1s forwards;
}

.button-container {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  animation: slideIn 1s forwards;

}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

button {
  font-family: 'Arial', sans-serif;
  font-size: 1em; /* Adjust as needed */
  background: radial-gradient(circle, rgb(8, 8, 8) 0%, rgb(10, 10, 10) 100%);
  color: rgb(255, 252, 252);
  border: white;
  border-style: solid;
  padding: 20px 90px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(165, 151, 213, 0.7), 
               0 0 10px rgba(255, 253, 253, 0.5), 
               0 0 15px rgba(255, 255, 255, 0.3);
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: radial-gradient(circle, rgb(255, 1, 1) 0%, rgb(255, 0, 0) 100%);
  color: #fffafa;
  border: black;
  border-style: solid;
  transform: scale(1.1);
}


button:first-of-type {
  animation-delay: 0.5s;
}

button:last-of-type {
  animation-delay: 0.5s;
}

  
.back-button {
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  color: rgb(15, 15, 15);
  border: none;
  padding: 10px 50px;
  margin: 20px 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  transition: background 0.3s, transform 0.3s;
  opacity: 0;
  animation: slideIn 1s forwards;
}


/*Project Section below*/

.projects-tile {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Fira Code', monospace;
  display: flex;
  justify-content: center;
  background: rgb(172,245,255);
  background: radial-gradient(circle, rgba(172,245,255,1) 0%, rgba(95,52,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 
               0 0 10px rgba(255, 253, 253, 0.5), 
               0 0 15px rgba(10, 30, 250, 0.3);}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #282828;
  padding: 1.5rem;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project-card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #00ff00; /* Green text to resemble old terminal text */
}

.project-card p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.project-card a {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.project-card a:hover {
  color: #ff4757;
}

/*3D hover card*/

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #34495e;
  transition: transform 0.3s, border-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
}

.skill-card:hover {
  transform: rotateY(7.5deg) rotateX(7.5deg) scale(1.1);
  border-color: #3498db;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

